**/.git
**/.gitignore
**/.github/actions
**/.github/docker
**/.github/workflows
**/.idea
**/*.md
**/docs
**/node_modules
**/target
**/helm
**/test-ledger
.dockerignore
**/Dockerfile
**/.editorconfig
**/*.tgz
sdk/
**/keys/
**/audit/
**/list/
merkle_tree.json
