**/.git
**/.gitignore
**/.github
**/.idea
**/*.md
**/docs
**/node_modules
**/target
**/test-ledger
**/.dockerignore
**/Dockerfile
**/.editorconfig
**/*.tgz
**/sdk/
**/keys/
**/audit/
**/list/
**/merkle_tree.json
